[v-cloak] {
  display: none;
}

.content-page {
  overflow: initial;
}


div#edit-gallery .image-container:hover div.buttons-container {
  display: block;
}

div#edit-gallery div.buttons-container {
  display: none;
  width: 88px;
  height: 88px;
  position: absolute;
  top:0;
}

div#edit-gallery div.buttons-container button {
  width: 100%;
  background: rgba(0, 0, 0, .3);
  height: 50%;
  border: none;
  color: #fff;
  font-size: 20px;
}

div#edit-gallery div.buttons-container button:hover {
 background: rgba(0, 0, 0, .6); 
}

.bootstrap-tagsinput {
  display: block !important;
  border-radius: 3px;
  padding: 6px 5px;
  min-height: 38px;
}
.bootstrap-tagsinput  input {
  padding: 2px 12px !important;
  border: none;
}

.bootstrap-tagsinput input:not(:focus) {
  height: 0;
  padding: 0 !important;
  position: absolute;
}


div.permission {
  border: 1px solid #ccc;
}

div.permission .title {
  padding: 5px;
  display: inline-block;
  border-left: 1px solid #ccc;
  background: #f0f0f0;
  margin: 0;
}

div.permission .action {
  cursor: pointer;
}


.unread td {
  font-weight: bold;
}

#sidebar-menu > ul > li > a {
  padding: 6px 20px;
}

#sidebar-menu ul ul a {
  padding: 6px 65px 6px 20px;
}

.bd-main button.bd-next,.bd-main button.bd-prev{
  font-size: 0;
  font-family: FontAwesome;
}
.bd-main{
  text-align: right;

}
.bd-main .bd-dropdown{
  border: 1px solid #ccc !important;
  border-radius: 3px;
}
.bd-main button.bd-next:after{
  content: '\f054';
  font-size: 20px;
}
.bd-main button.bd-prev:after{
  content: '\f053';
  font-size: 20px;
}
.bd-table thead tr th{
  color:#fff;
}

.edit_item-image {
  display: inline-block;
  position: relative;
  width: 32px;
  overflow: hidden;
  margin-right: 5px;
  margin-top: 4px;
}

.edit_item-image:hover .delete {
  display: block;
}
.edit_item-image img {
  position: relative;
  z-index: 0;
}
.edit_item-image .delete {
  display: none;
  position: absolute;
  height: 100%;
  cursor: pointer;
  background: #fff;
  background: rgba(255,255,255, .9);
  width: 100%;
  z-index: 1;
}
.edit_item-image .delete i {
  margin: auto;
  margin-top: 8px;
  width: 100%;
  text-align: center;
}